{% extends "bootstrap_ui/bootstrap-skeleton.html" %}
{% load static %}

{% block head-title %}
    MLA Game Prototype
{% endblock %}

{% block body-javascript %}
    {{ block.super }}
    <script src="{% static 'dist/main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'dist/main.css' %}">
{% endblock %}


{% block body-content %}
    <h1>MLA Game Prototype</h1>
    <h2 id="title"></h2>
    <h2 id="station"></h2>
    <audio id="player" controls="controls">
        <source id="mp3src" src="" type="audio/mp3" />
    </audio>

    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-success" id="phrase1"></a>
        <a href="#" class="list-group-item list-group-item-success" id="phrase2"></a>
        <a href="#" class="list-group-item list-group-item-success" id="phrase3"></a>
    </div>

    <button type="button" class="btn btn-default" id="submit">Submit</button>

{% endblock %}
