-e git+https://github.com/WGBH/pua-sdk-python.git@36ecf63b3dda00110e396694d22a045583989cba#egg=popuparchive
Django==1.11.3
Jinja2==2.9.6
MarkupSafe==1.0
PyJWT==1.5.0
appdirs==1.4.3
boto==2.46.1
coreapi==2.3.0
coreschema==0.0.4
defusedxml==0.5.0
django-filter==1.0.4
django-localflavor==1.4
django-rest-swagger==2.1.2
django-storages==1.5.2
djangorestframework-filters==0.10.1
djangorestframework==3.6.3
dominate==2.1.17
huey==1.3.1
itypes==1.1.0
oauthlib==2.0.1
openapi-codec==1.3.1
ordereddict==1.1
packaging==16.8
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.7
psycopg2==2.7.1
ptyprocess==0.5.1
pylibmc==1.5.2
pyparsing==2.2.0
python3-openid==3.1.0
pytz==2017.2
redis==2.10.5
requests-oauthlib==0.8.0
requests==2.14.2
simplejson==3.10.0
six==1.10.0
social-auth-app-django==1.2.0
social-auth-core==1.3.0
uritemplate==3.0.0
wcwidth==0.1.7
