{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'dist/favicon.ico' %}" type="image/x-icon" />
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee|Droid+Sans:400,700|Open+Sans+Condensed:700|Open+Sans:400,400i,700">
    <link rel="stylesheet" href="{% static 'dist/main.css' %}" type="text/css" media="all" />
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block content %}
{% endblock %}
{% block javascript %}
    {% if user.is_authenticated %}
      <script src="{% static 'dist/lib/jquery.custom.js' %}" type="text/javascript" charset="utf-8"></script>
      <script src="{% static 'dist/main.js' %}" type="text/javascript" charset="utf-8"></script>
    {% endif %}
{% endblock %}
</body>
</html>
