{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'dist/favicon.ico' %}" type="image/x-icon" />
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee|Droid+Sans:400,700|Open+Sans+Condensed:700|Open+Sans:400,400i,700">
    <link rel="stylesheet" href="{% static 'dist/main.css' %}" type="text/css" media="all" />
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

{% block content %}
{% endblock %}

{% block javascript %}
  {% if user.is_authenticated %}
    <script src="{% static 'dist/index.js' %}" type="text/javascript" charset="utf-8"></script>
  {% else %}
    <script>
      // social sharing
      function PopupCenter(url, title, w, h) {
        var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left,
            dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top, 
            width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width,
            height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height,
            left = ((width / 2) - (w / 2)) + dualScreenLeft,
            top = ((height / 2) - (h / 2)) + dualScreenTop,
            newWindow = window.open(url, title, 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
        // Puts focus on the newWindow
        if (window.focus) {
            newWindow.focus();
        }
      }
      var popUp = document.querySelectorAll('.js-popup-link')
      for (var i = 0; i < popUp.length; i++) {
        popUp[i].addEventListener('click', function(e){
          e.preventDefault();
          PopupCenter(this.href, this.id, '600', '500')
          console.log(this.href)
        })
      }
      // end social sharing
      
    </script>
  {% endif %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ ga_code }}', 'auto');
    ga('send', 'pageview');
  </script>
{% endblock %}
</body>
</html>
