{% extends "base.html" %}

{% block content %}
  {% if not user.is_authenticated %}
  <div class="social-login">
    <p>
      <a class="delta" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
      <a class="delta" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
    </p>
  </div>
  {% else %}
    <div id="app"></div>
    <span class="welcome-message">Welcome, {{user.first_name}}</span>
  {% endif %}
{% endblock %}
