// colors
$progress:#ffae18;
$audio-play:#ca205f;
$transcript-error:#d81245;
$transcript-edited:#3d5999;
$help:#068080;
$user:#3d3070;

// blacks
$theme-primary:#000;
$theme-secondary:#221e1f;
$theme-tertiary:#221e1f;
$icon-muted:#414042;

$icon-dark:#6d6e71;
$icon-dark:#6d6e71;
$default:#414042;
$icon-hover:#939598;
$icon-light:#bcbec0;


// breakpoints
// 650px
$screen-sm-min:40.625em;
// 1100px
$screen-md-min:68.75em;
// 1300px
$screen-lg-min:81.25em;
// 1530px
$screen-jb-min:95.625em;


// vertical rhythm var. used to break up sections based on a scale
$v-rhythm:1.5em;

// susy base config for smaller screens
// grid changes based on wrapper class defined in custom.scss
$susy: (
  columns:(2),
  container:90em,
  gutter-position:inside,
  math: fluid,
  output: float,
  // debug:(image:show)
);

$map-sm: (
  columns:(4),
  gutter-position:before,
);

$map-md: (
  columns:(8),
  gutter-position:before,
);

$map-lg: (
  columns:(12),
  gutter-position:before,
  gutters:.3
);


// grid
@mixin grid() {
  @include container();

  @include susy-breakpoint($screen-sm-min, $map-sm) {
    @include show-grid(4);
  }

  @include susy-breakpoint($screen-md-min, $map-md) {
    @include show-grid(8);
  }

  @include susy-breakpoint($screen-lg-min, $map-lg) {
    @include show-grid(12);
  }
}