.game-footer {
  background:$theme-primary;
  
  .title {
    color:$progress;
    text-transform:uppercase;
    width:50%;
    float:left;
    padding:.25em .5em;
    line-height:1.5;
    margin-bottom:0;
    span {
      display: inline-block;
      color:$theme-primary;
      position: relative;
      z-index:1;
      margin-right:.5em;
      &:before {
        z-index: -1;
        content:'';
        display: inline-block;
        @include center;
        background:$progress;
        width:1.5em;
        height:1.5em;
        border-radius:100%;
      }
    }
    @include susy-breakpoint($screen-lg-min, $map-lg) {
      @include span(3 of 12 first);
      line-height:3.5em;
    }
  }

  .controls {
    width:50%;
    float:left;
    height:5em;
    position: relative;
    .pagination {
      @include clearfix;
      button {
        float:left;
        width:3em;
        @include plain-button;
        svg {
          width:2em;
          height:2em;
          vertical-align:middle;
          circle {
            stroke:lighten($theme-tertiary, 50%);
          }
          polygon {
            fill:lighten($theme-tertiary, 50%);
          }
          &:hover {
            circle {
              stroke:$progress;
            }
            polygon {
              fill:$progress;
            }
          }
        }
      }
    }
    
    progress {
      width:100%;
    }
    
    @include susy-breakpoint($screen-lg-min, $map-lg) {
      @include span(6 of 12);
      progress {
        width:70%;
        @include center;
      }
      .pagination {
        .prev, .next {
          @include center(false, true);
        }
        .prev {
          left:0;
        }
        .next {
          right:0;
        }
        button {
          width:inherit;
          svg {
            width:4em;
            height:4em;
          }
        }
      }
    }
  }

  .help {
    @include susy-breakpoint($screen-lg-min, $map-lg) {
      float:right;
      line-height:5em;
    }
  } 
  
  // browser resets and visual styling for progress element
  progress[value] {
    -webkit-appearance: none;
            appearance: none;
  }
  progress:not[value] {
    -webkit-appearance: none;
            appearance: none;
  }
  progress:not[value]::-webkit-progress-value {
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
  progress:not[value]::-moz-progress-bar {
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
  progress[value]::-webkit-progress-value {
    background-color:$progress;
  }
  progress[value]::-moz-progress-bar {
    background-color:$progress;
  }
  
}