.game-footer {
  background:$theme-primary;
  position:fixed;
  width:100%;
  bottom:0;
  .grid {
    position:relative;
    padding-top:.5em;
    @include susy-breakpoint($screen-lg-min, $map-lg) {
      padding-top:0;
    }
  }
  .title {
    color:$progress;
    text-transform:uppercase;
    width:50%;
    float:left;
    @include center(false, true);
    padding:0 .5em;
    font-size: 4vw;
    line-height:1.5;
    margin-bottom:0;
    span {
      display: inline-block;
      color:$theme-primary;
      position: relative;
      z-index:1;
      margin-right:.5em;
      &:before {
        z-index: -1;
        content:'';
        display: inline-block;
        @include center;
        background:$progress;
        width:1.5em;
        height:1.5em;
        border-radius:100%;
      }
    }
    @include susy-breakpoint($screen-sm-min, $map-sm) {
      padding:1em .5em .25em .5em;
      font-size: 1.25em;
      position:inherit;
      transform:inherit;
      top:inherit;
    }
    
    @include susy-breakpoint($screen-lg-min, $map-lg) {
      @include span(3 of 12 first);
      line-height:3.5em;
      padding:.25em .5em;
    }
  }

  .controls {
    width:50%;
    float:left;
    position: relative;
    margin-left:50%;
    .pagination {
      @include clearfix;
      button {
        float:left;
        width:3em;
        @include plain-button;
        svg {
          width:2em;
          height:2em;
          vertical-align:middle;
          fill:$default;
          @include transition(fill, 300ms, ease-in);
          polygon {
            fill:$default;
            @include transition(fill, 300ms, ease-in);
          }
          circle {
            stroke:$default;
            @include transition(fill, 300ms, ease-in);
          }
          &:hover {
            fill:$icon-hover;
            polygon {
              fill:$icon-hover;
            }
            circle {
              stroke:$icon-hover;
            }
          }
        }
      }
      .next {
        &:disabled {
          cursor:default;
          svg {
            fill:$transcript-error;
            polygon {
              fill:$transcript-error;
            }
          }
        }
      }
    }
    
    progress {
      width:100%;
    }

    @include susy-breakpoint($screen-sm-min, $map-sm) {
      margin-left:inherit;
      height:5.5em;
    }
    
    @include susy-breakpoint($screen-lg-min, $map-lg) {
      @include span(7 of 12);
      progress {
        width:70%;
        @include center;
      }
      .pagination {
        .prev, .next {
          @include center(false, true);
        }
        .prev {
          left:0;
        }
        .next {
          right:0;
          &:disabled {
            cursor:default;
            svg {
              fill:$transcript-error;
              polygon {
                fill:$transcript-error;
              }
            }
          }
        }
        button {
          width:inherit;
          svg {
            width:4em;
            height:4em;
          }
        }
      }
    }
  }

  .help {
    @include plain-button;
    height:2em;
    width:3em;
    position:absolute;
    top:.5em;
    right:5%;
    svg {
      @include transition(fill, 300ms, ease-in);
      fill:$help;
      width:2em;
      height:2em;
      vertical-align:middle;
    }
    &:hover {
      svg {
        fill:$icon-hover;
      }
    }
    @include susy-breakpoint($screen-lg-min, $map-lg) {
      position:inherit;
      float:right;
      height:5.45em;
      width:5.45em;
      top:0;
      right:0;
      svg {
        height:4em;
        width:4em;
      }
    }
  }

  // browser resets and visual styling for progress element
  progress {
    background-color:$default;
    color:$default;
    border:0;
    
    &[value] {
      -webkit-appearance: none;
              appearance: none;
      height:.75em;
      @include transition(width, 400ms, ease-out);
    }
    &:not[value] {
      -webkit-appearance: none;
              appearance: none;
      height:.75em;
    }

    &[value]::-webkit-progress-bar{
      background-color:$default
    }

    &[value]::-webkit-progress-value{
      background-color:$progress;
      @include transition(width, 400ms, ease-out);
    }
    
    &[value]::-moz-progress-bar{ 
      background-color:$progress;
    } 

  }
}

// help modal styling 
.modal-close {
  @include plain-button;
  width:3em;
  height:3em;
  position:absolute;
  top:1em;
  right:1em;
  &:hover {
    fill:$icon-hover;
    stroke:$icon-hover;
  }
  svg {
    fill:white;
    stroke:white;
    stroke-width:15
  }
}
