.game-navigation{
  @include plain-list;
  li {
    background:$theme-primary;
    border-radius:.45em;
    text-align:center;
    padding:1em 1.5em;
    margin-bottom:1.5em;
    color:$icon-light;
    @include susy-breakpoint($screen-md-min, $map-md) {
      @include span(2.66667);
      &:first-child {
        @include first;
      }
      &:last-child {
        @include last;
      }
    }
    @include susy-breakpoint($screen-lg-min, $map-lg) {
      @include span(4);
    }
    h2 {
      font-family:'Open Sans Condensed', sans-serif;
      font-weight:700;
      font-size:2em;
      .game-number {
        @include clearfix;
        display:inline-block;
        color:$theme-primary;
        background-color:$icon-light;
        border-radius:100%;
        width:1.65em;
        height:1.65em;
        line-height:1.65em;
        font-family: 'Open Sans', sans-serif;
      }
      .game-name {
        margin:.5em 0 1.5em 0;
        display:block;
        text-transform: uppercase;
      }
    }
    .game-score {
      @include score-box; 
      color:$icon-light;
      font-family:'Open Sans Condensed', sans-serif;
      font-size:3em;
      line-height:1.35;
      display: block;
      margin-bottom:.2em;
    }
    .points {
      display:block;
      margin-bottom:2em; 
    }
    .play-link {
      @include call-button;
    }
  }
}
