.game-footer {
  background:$theme-primary;
  position:fixed;
  width:100%;
  bottom:0;
  .grid {
    position:relative;
    padding-top:.5em;
    @include susy-breakpoint($screen-lg-min, $map-lg) {
      padding-top:0;
    }
  }
  .title {
    color:$progress;
    text-transform:uppercase;
    width:50%;
    float:left;
    @include center(false, true);
    padding:0 .5em;
    font-size: 4vw;
    line-height:1.5;
    margin-bottom:0;
    span {
      @include game-number($progress, $theme-primary) 
    }
    @include susy-breakpoint($screen-sm-min, $map-sm) {
      padding:1em .5em .25em .5em;
      font-size: 1.25em;
      position:inherit;
      transform:inherit;
      top:inherit;
    }
    
    @include susy-breakpoint($screen-lg-min, $map-lg) {
      @include span(3 of 12 first);
      padding:.25em .5em;
      @include center(false, true);
    }
  }

  .controls {
    width:50%;
    float:left;
    position: relative;
    margin-left:50%;
    .pagination {
      @include clearfix;
      button {
        float:left;
        min-height:1.8375em;
        @include plain-button;
        svg {
          width:2em;
          height:2em;
          vertical-align:middle;
          fill:$default;
          @include transition(fill, 300ms, ease-in);
          polygon {
            fill:$default;
            @include transition(fill, 300ms, ease-in);
          }
        }
        span {
          @include transition(color, 300ms, ease-in);
          display:inline-block;
          font-family:'Bungee', Cursive;
          font-size:1.15em;
          color:$default;
          vertical-align:middle;
        }
        &:hover {
          svg {
            fill:$icon-hover;
            polygon {
              fill:$icon-hover;
            }
            circle {
              stroke:$icon-hover;
            }
          }
          span {
            color:$icon-hover;
          }
        }
        &:disabled {
          cursor:default;
          svg {
            display:none;
          }
          span {
            display:none;
          }
        }
      }
    }
    
    progress {
      width:100%;
    }

    @include susy-breakpoint($screen-sm-min, $map-sm) {
      margin-left:inherit;
      height:5.5em;
    }
    
    @include susy-breakpoint($screen-lg-min, $map-lg) {
      @include span(7 of 12);
      @include push(3);
      progress {
        width:calc(100% - 9em);
        @include center(false, true);
      }
      .pagination {
        .next {
          @include center(false, true);
        }
        .next {
          right:0;
        }
        button {
          width:inherit;
          svg {
            width:3.125em;
            height:3.125em;
          }
        }
      }
    }
  }

  .help {
    float:right;
    clear:both;
    @include susy-breakpoint($screen-sm-min, $map-sm) {
      position: absolute;
      top:0;
      right:1.5em;
    }
    @include susy-breakpoint($screen-lg-min, $map-lg) {
      position: inherit;
      float:right;
      right:inherit;
      top: inherit;
      margin-top:1.05em;
      clear:none;
    }
    button {
      @include plain-button;
      @include transition(color, 300ms, ease-in);
      display:inline-block;
      font-family:'Bungee', Cursive;
      font-size:1.15em;
      color:$default;
      vertical-align:middle;
      margin:.5em;
      &:hover {
        color:$help;
      }      
    }
  }

  // browser resets and visual styling for progress element
  progress {
    background-color:$default;
    color:$default;
    border:0;
    
    &[value] {
      -webkit-appearance: none;
              appearance: none;
      height:.75em;
      @include transition(width, 400ms, ease-out);
    }
    &:not[value] {
      -webkit-appearance: none;
              appearance: none;
      height:.75em;
    }

    &[value]::-webkit-progress-bar{
      background-color:$default
    }

    &[value]::-webkit-progress-value{
      background-color:$progress;
      @include transition(width, 400ms, ease-out);
    }
    
    &[value]::-moz-progress-bar{ 
      background-color:$progress;
    } 

  }
}
@media screen and (min-height:60.5em ){
    .game-footer {
      position: inherit;
      margin-top:$v-rhythm*2;
      &:after {
        content:'';
        display:inline-block;
        height:100vh;
        width:100%;
        background:$theme-primary;
      }
    }
}