.menu-heading {
  margin: .3em 1.5em .5em 0;
  @include susy-breakpoint($screen-sm-min, $map-sm) {
    display:inline-block;
  }
}

.user-info {
  display:inline-block;
  * {
    vertical-align:middle;
  }
  background:$theme-primary;
  display:flex;
  align-items:center;
  padding:.65em 1.5em;
  margin-bottom:1em;
  border-radius:.45em;
  @include susy-breakpoint($screen-sm-min, $map-sm) {
    float:right;
  }
  span {
    display:inline-block;
    font-weight:700;
  }
  .icon {
    fill:$icon-dark;
    max-width:1em;
    max-height:1em;
    height:1em;
    margin-right:.75em;
  }
  dl {
    @include clearfix;
    display:inline-block;
    margin:0;
    margin-left:2em;
    color:$progress;
    font-weight:700;
    dt, dd {
      display:inline-block;
    }
    dt {
      float:right;
    }
    dd {
      float:left;
      margin:0;
      margin-right:.25em;
    }
  }
}

.game-navigation{
  @include plain-list;
  @include clearfix;
  li {
    background:$theme-primary;
    border-radius:.45em;
    text-align:center;
    padding:1em 1.5em;
    margin-bottom:1.5em;
    color:$icon-light;
    h2 {
      font-family:'Open Sans Condensed', sans-serif;
      font-weight:700;
      font-size:1.5em;
      .game-number {
        @include clearfix;
        @include game-number($icon-light, $theme-primary, "'Open Sans', sans-serif");
        font-size:.85em; 
      }
      .game-name {
        margin:.5em 0 1em 0;
        display:block;
        text-transform: uppercase;
      }
    }
    .game-score {
      @include score-box; 
      color:$icon-light;
      font-family:'Open Sans Condensed', sans-serif;
      font-size:1.5em;
      line-height:1.35;
      display: block;
      margin-bottom:.2em;
    }
    .points {
      display:block;
      margin-bottom:2em; 
    }
    .play-link {
      @include transition(all, .3s, ease-in-out);
      @include call-button;
      margin-bottom:1.5em;
      &:hover {
        color:$theme-secondary;
        background:$progress
      }
    }
    @include susy-breakpoint($screen-md-min, $map-md) {
      @include span(2.66667);
      &:first-child {
        @include first;
      }
      &:last-child {
        @include last;
      }
      h2 {
        font-size:2em;
        margin-top:.25em;
      }
      .game-score {
        font-size:3em;
        margin-top:.25em;
      }
    }
    @include susy-breakpoint($screen-lg-min, $map-lg) {
      @include span(4);
    }
  }
}
