.app-header {
  background:$theme-primary;
  position:fixed;
  width:100%;
  top:0;
  z-index:1;
  & + div {
    margin-top:5.5em;
  }
}

.game-title {
  float:left;
  width:30%;
  position: relative;
  padding-left: 1.5em;
  a {
    @include link-reset;
    color:$progress;

  }
  .info-button {
    @include plain-button;
    display:inline-block;
    vertical-align: middle;
    margin-left:.5em;
    padding:0;
  }
  .nav-icon {
    @include transition(fill, 300ms, ease-in);
    height:1.2em;
    width:1.2em;
    display:block;
    fill:$icon-dark;
  }
  .aapb-link {
    display:block;
    @include center(false, true);
    left:0;
  }
  .aapb-logo {
    display:block;
    width:1.25em;
    height:1.25em;
    background:url('../javascript/images/logo_aapb_small.png'), no-repeat;
    background-size:1.25em;
  }
  @include susy-breakpoint($screen-sm-min, $map-sm) {
    @include span(1 of 4 first);
    padding-left: 2em;
  }
  @include susy-breakpoint($screen-md-min, $map-md) {
    @include span(3 of 8 first);
    padding-left:0;
    .aapb-link {
      left:-2.15em;
    }
  }
  @include susy-breakpoint($screen-lg-min, $map-lg) {
    @include span(8 of 12 first);
  }
}

.score {
  @include score-box; 
  display: inline-block;
  float:left;
  width:15%;
  margin-top:.67em;
  text-align:right;
  color:$progress;
  padding:.2em .25em;
  overflow:hidden;
  position: relative;
  span {
    display:inline-block;
  }
  .score-enter {
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .score-enter.score-enter-active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .score-leave {
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
    position: absolute;
    right: .25em;
    bottom: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .score-leave.score-leave-active {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  @include susy-breakpoint($screen-sm-min, $map-sm) {
    @include span(1 of 4);
  }
  @include susy-breakpoint($screen-md-min, $map-md) {
    @include span(1 of 8);
  }
  @include susy-breakpoint($screen-lg-min, $map-lg) {
    @include span(1 of 12);
  }
}



.app-navigation {
  @include plain-list;
  @include clearfix;
  padding:.5em 0;
  float:left;
  width:50%;
  margin-top:.5em;
  margin-left:5%;
  li {
    float:left;
    text-align:center;
    width:25%;
    line-height:1; 
    a {
      @include transition(color, 300ms, ease-in);
      color:white;
      text-decoration:none;
      display:block;
      color:$icon-dark;
      font-family:'Open Sans Condensed', sans-serif;
      .nav-icon {
        @include transition(fill, 300ms, ease-in);
        height:1.85em;
        width:1.85em;
        display:inline-block;
        fill:$icon-dark;
      }
      &:hover {
        color:$progress;
        .nav-icon {
          fill:$progress;
        }
      }
      &.active {
        .nav-icon {
          fill:$progress;
        }
      }
    }
    span {
      display:inline-block;
      font-size:.85em;
    }
  }
  @include susy-breakpoint($screen-sm-min, $map-sm) {
    @include span(2 of 4);
    margin-top:0;
    li {
      padding-top:.5em;
      &:last-of-type {
        display:inline-block;
        padding-top:1em;
      }
    }
  }
  @include susy-breakpoint($screen-md-min, $map-md) {
    @include span(4 of 8);
  }
  @include susy-breakpoint($screen-lg-min, $map-lg) {
    @include span(3 of 12);

    li {
      width:20%;
      &:first-of-type{
        margin-left:40%;
      }
      &:last-of-type {
        margin-right:-25%;
        margin-left:3%;
      }
    }
  }
}