.app-header {
  background:$theme-primary;
  position:fixed;
  width:100%;
  top:0;
  z-index:1;
  & + div {
    margin-top:8em;
  }
  @include susy-breakpoint($screen-sm-min, $map-sm) {
    & + div {
      margin-top:5.5em;
    }
  }
}

.game-title {
  float:left;
  position: relative;
  padding-left: 1.5em;
  a {
    @include link-reset;
    color:$progress;

  }
  .info-button {
    @include plain-button;
    display:inline-block;
    vertical-align: middle;
    margin-left:.5em;
    padding:0;
    &:hover {
      .nav-icon {
        fill:$progress;
      }
    }
  }
  .nav-icon {
    @include transition(fill, 300ms, ease-in);
    height:1.2em;
    width:1.2em;
    display:block;
    fill:$icon-dark;
  }
  .aapb-link {
    display:block;
    @include center(false, true);
    left:0;
    &:hover {
      .aapb-logo {
        background:url('../javascript/images/logo_aapb.png'), no-repeat;
        background-size:1.25em;
      }
    }
  }
  .aapb-logo {
    display:block;
    width:1.25em;
    height:1.25em;
    background:url('../javascript/images/logo_aapb_small.png'), no-repeat;
    background-size:1.25em;
  }
  @include susy-breakpoint($screen-sm-min, $map-sm) {
    @include span(2 first);
    padding-left: 2em;
  }
  @include susy-breakpoint($screen-md-min, $map-md) {
    @include span(4 first);
    padding-left:0;
    .aapb-link {
      left:-2.15em;
    }
  }
  @include susy-breakpoint($screen-lg-min, $map-lg) {
    @include span(8 first);
  }
}
.score-container {
  clear:both;
  .score {
    @include score-box; 
    display: inline-block;
    text-align:right;
    color:$progress;
    padding:.1em .25em .1em .5em;
    overflow:hidden;
    position: relative;
    span {
      display:inline-block;
    }
    .score-enter {
      -webkit-transition: all 0.25s;
      transition: all 0.25s;
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    .score-enter.score-enter-active {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    .score-leave {
      -webkit-transition: all 0.15s;
      transition: all 0.15s;
      position: absolute;
      right: .25em;
      bottom: 0;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    .score-leave.score-leave-active {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
  }
  @include susy-breakpoint($screen-sm-min, $map-sm) {
    @include span(1);
    margin-top:.9em;
    clear:none;
  }
  @include susy-breakpoint($screen-md-min, $map-md) {
    @include span(1.5);
  }
  @include susy-breakpoint($screen-lg-min, $map-lg) {
    @include span(1.5);
  }
}

.dropDown {
  @include plain-button;
  float:right;
  margin-top:.65em;
  color:white;
  background:$default;
  border-radius:.325em;
  padding:.5em .75em;
  font-family:'Open Sans Condensed', sans-serif;
  @include transition(all, 300ms, ease-in);
  &:hover {
    background:$progress;
    color:$theme-secondary;
  }
}

.app-navigation {
  @include plain-list;
  @include clearfix;
  @include transition(all, 300ms, ease-in);
  position:absolute;
  top:7em;
  width:100%;
  margin-left:-5%;
  background:$theme-primary;
  max-height:0;
  visibility:hidden;
  overflow:hidden; 
  &.open {
    max-height:12em;
    visibility:visible;
  }
  li {
    height:3em;
    line-height:3em;
    padding-left:5%;
    &:not(:last-child){
      border-bottom:.0625em solid $icon-hover;
    }
    a {
      @include transition(color, 300ms, ease-in);
      color:white;
      text-decoration:none;
      display:block;
      color:$icon-dark;
      font-family:'Open Sans Condensed', sans-serif;
      .nav-icon {
        @include transition(fill, 300ms, ease-in);
        height:3em;
        width:1.85em;
        display:inline-block;
        fill:$icon-dark;
      }
      &:hover {
        color:$progress;
        .nav-icon {
          fill:$progress;
        }
      }
      &.active {
        .nav-icon {
          fill:$progress;
        }
      }
    }
    span {
      display:inline-block;
      font-size:.85em;
    }
  }
  @include susy-breakpoint($screen-sm-min, $map-sm) {
    top:4em 
  }
  @include susy-breakpoint($screen-md-min, $map-md) {
    @include span(2.5 last);
    height:inherit;
    padding-left:1em;
    position:relative;
    clear:none;
    top:inherit;
    max-height:inherit;
    visibility:visible;
    overflow:visible; 
    &.open {
      overflow:visible;
    }
    li {
      line-height:1;
      padding:.5em 0;
      margin-top:.5em;
      margin-left:5%;
      text-align:center;
      display:inline-block;
      width:25%;
      padding-left:0;
      &:not(:last-child){
        border-bottom:none;
      }
      a {
        .nav-icon {
          height:1.85em;
        }
      }
      &:last-of-type {
        position:absolute;
        right:-3.5em;
        top:.5em;
      }
    }
  }
  @include susy-breakpoint($screen-lg-min, $map-lg) {
    @include span(2.5 last);
  }
}