.app-header {
  background:$theme-primary;
  position:fixed;
  width:100%;
  top:0;
  z-index:1;
  div {
    @include grid;
    padding:0 5%;
    @include susy-breakpoint($screen-jb-min) {
      padding:0;
    }
  }
  & + div {
    margin-top:5.5em;
  }
}

.game-title {
  float:left;
  width:30%;
  a {
    @include link-reset;
    color:$progress;
  }
  @include susy-breakpoint($screen-sm-min, $map-sm) {
    @include span(1 of 4 first);
  }
  @include susy-breakpoint($screen-md-min, $map-md) {
    @include span(3 of 8 first);
  }
  @include susy-breakpoint($screen-lg-min, $map-lg) {
    @include span(8 of 12 first);
  }
}

.score {
  @include score-box; 
  display: inline-block;
  float:left;
  width:15%;
  margin-top:.67em;
  text-align:right;
  color:$progress;
  padding:.2em .25em;
  overflow:hidden;
  position: relative;
  span {
    display:inline-block;
  }
  .score-enter {
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .score-enter.score-enter-active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .score-leave {
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
    position: absolute;
    right: .25em;
    bottom: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .score-leave.score-leave-active {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  @include susy-breakpoint($screen-sm-min, $map-sm) {
    @include span(1 of 4);
  }
  @include susy-breakpoint($screen-md-min, $map-md) {
    @include span(1 of 8);
  }
  @include susy-breakpoint($screen-lg-min, $map-lg) {
    @include span(1 of 12);
  }
}



.app-navigation {
  @include plain-list;
  @include clearfix;
  padding:.5em 0;
  float:left;
  width:50%;
  margin-top:.5em;
  margin-left:5%;
  li {
    float:left;
    text-align:center;
    width:33%;
    line-height:1; 
    a {
      color:white;
      text-decoration:none;
      display:block;
      .nav-icon {
        @include transition(fill, 300ms, ease-in);
        height:1.85em;
        width:1.85em;
        display:inline-block;
        fill:$icon-dark;
      }
      &:hover {
        .nav-icon {
          fill:$progress;
        }
      }
      &.active {
        .nav-icon {
          fill:$progress;
        }
      }
    }
    span {
      display:inline-block;
      font-size:.85em;
    }
  }
  @include susy-breakpoint($screen-sm-min, $map-sm) {
    @include span(2 of 4);
    margin-top:0;
    li {
      width:20%;
      padding-top:.5em;
      &:first-of-type{
        margin-left:40%;
      }
    }
  }
  @include susy-breakpoint($screen-md-min, $map-md) {
    @include span(4 of 8);
  }
  @include susy-breakpoint($screen-lg-min, $map-lg) {
    @include span(3 of 12);
  }
}