// clear fixin
@mixin clearfix {
  &:after {
    display:table;
    clear:both;
    content:'';
  }
  &:before {
    display:table;
    clear:both;
    content:'';
  }
}

// parent should be set to relative
// https://css-tricks.com/snippets/sass/centering-mixin/
@mixin center($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

  } @else if ($horizontal) {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
        -ms-transform:translate(0, -50%);
    -webkit-transform:translate(0, -50%);
            transform:translate(0, -50%);
  }
}

// transitions
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition:$transition-property $transition-time $method;
      -ms-transition:$transition-property $transition-time $method;
          transition:$transition-property $transition-time $method;
}

// gradients
@mixin linear-gradient($fromColor, $toColor) {
  background-color:$toColor; /* Fallback Color */
  background-image:-webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image:-webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:   -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:    -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:     -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:        linear-gradient(top, $fromColor, $toColor);

  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

// plain lists
@mixin plain-list {
  margin:0;
  padding:0;
  li {
    list-style:none;
  }
  dd {
    margin:0;
  }
}

@mixin plain-button {
  border:none;
  outline:none;
  background:none;
  box-shadow:none;
  &:hover, &:focus, &:active {
    box-shadow:none;
    border:none;
  }
}

@mixin light-button {
  @include plain-button;
  display: inline-block;
  font-family:'Bungee', Cursive;
  background-color:$icon-dark;
  color:white;
  padding:.5em 1em;
  margin-left:1em;
}

@mixin border-button($background, $stroke) {
  @include plain-button;
  display: inline-block;
  font-family:'Bungee', Cursive;
  background-color:$background;
  border:.175em solid $stroke;
  color:$stroke;
  padding:.25em .75em;
  margin-bottom:.5em;
  &:hover, &:active, &:focus {
    border:.175em solid $stroke;
  }
}

@mixin call-button {
  @include plain-button;
  display: inline-block;
  font-family:'Bungee', Cursive;
  background-color:$theme-primary;
  border:.175em solid $progress;
  color:$progress;
  padding:.75em 2em;
  margin-bottom:3em;
  &:hover, &:active, &:focus {
    border:.175em solid $progress;
  }
}

@mixin game-number-abs($background:null, $color:null, $font:null, $size:null) {
  display:inline-block;
  position:relative;
  margin-right:.65em;
  color:#{$color};
  font-size:#{$size};
  font-family:#{$font};
  &:after {
    @include center;
    z-index:-1;
    content:'';
    display:inline-block;
    border-radius:100%;
    width:1.65em;
    height:1.65em;
    background-color:#{$background};
  }
}

@mixin game-number-inline($background:null, $color:null, $font:null, $size:null) {
  text-align:center;
  display:inline-block;
  border-radius:100%;
  width:1.5em;
  height:1.5em;
  line-height:1.5em;
  color:#{$color};
  font-size:#{$size};
  font-family:#{$font};
  background-color:#{$background};
}

// link reset
@mixin link-reset {
  text-decoration:none;
  &:hover {
    text-decoration:none;
  }
  &:active {
    text-decoration:none;
  }
  &:visited {
    text-decoration:none;
  }
  &:focus {
    text-decoration:none;
  }
}