.app-header {
  & + .preferences {
      margin-top:4em;
  }
}

.preferences {
  color:$theme-primary;
  &:after {
    content:'';
    display:inline-block;
    position:absolute;
    background:white;
    height:100vh;
    width:100%;
    top:-5.5em;
    left:0;
    z-index:-1;
  }
}

.user-form {
  background-color:$preferences-background;
  border-bottom:1px solid black;
  padding:$v-rhythm*2 0;
  @include clearfix;
  .user {
    margin-bottom:$v-rhythm;
    font-weight:700;
    font-size:1.25em;
    @include susy-breakpoint($screen-md-min, $map-md) {
      @include span(3 first);
      margin-left:0;
      margin-bottom:0;
      padding-top:.45em;
    }
    @include susy-breakpoint($screen-lg-min, $map-lg) {
      @include span(3 first);
    }
  }
  form {
    font-size:1.25em;
    text-align:center;
    button {
      @include transition(all, .5s, ease-in-out);
      @include border-button(white, $icon-dark);
      &:hover {
        background:$icon-dark;
        color:white;
      }
      margin-left:0;
      @include susy-breakpoint($screen-sm-min, $map-sm) {
        float:left;
        margin-left:5%;
      }
      @include susy-breakpoint($screen-md-min, $map-md) {
        margin-left:2.5%;
      }
      @include susy-breakpoint($screen-md-min, $map-md) {
        float:right;
      }
    }
    input[type='text'] {
      padding:.4em 1em;
      border-radius:.625em;
      border: 1px solid black;
      display:block;
      width:100%;
    }
    .input-container {
      margin-bottom:$v-rhythm/2;
      @include susy-breakpoint($screen-sm-min, $map-sm) {
        @include span(2 first)
      }
      @include susy-breakpoint($screen-md-min, $map-md) {
        @include span(4);
        input {
          @include span(3 of 4 first);
        }
      }
      @include susy-breakpoint($screen-lg-min, $map-lg) {
        @include span(4);
        input {
          @include span(full);
        }
      }
    }
  }
}

.preferences-form {
  padding:$v-rhythm*2 0;
  background:white;
  text-align:right;
  input[type='checkbox'] {
    margin-right:.25em;
  }
  .save-message {
    margin-bottom:1.5em;
  }

  fieldset {
    margin:0;
    padding:0;
    border:0;
    text-align:left;
  }
  .topics-set {
    margin-bottom:$v-rhythm*2;
    legend {
      font-weight:700;
      font-size:1.45em;
      margin-bottom:$v-rhythm/2;
    }
    .topic {
      display:block;
      font-weight:700;
      @include susy-breakpoint($screen-md-min, $map-sm) {
        @include gallery(2 of 4)
      }

      @include susy-breakpoint($screen-md-min, $map-md) {
        display:inline-block;
        float:none;
        width:inherit;
        margin-left:0;
        margin-right:0;
        &:not(:first-of-type) {
          margin-left:2em;
        }
        &:nth-child(n) {
          margin-right:0
        }
      }
    }
  }
  .sources-set {
    legend {
      font-weight:700;
      font-size:1.45em;
      margin-bottom:$v-rhythm
    }
    label {
      display:inline-block;
      width:100%;
      @include clearfix;
    }
    .source {
      display:block;
      .checkbox {
        text-align:center;
        width:1em;
        float:left;
        margin-top:.4em;
      }
      .state {
        width:3em;
        float:left;
        padding-left:.75em;
      }
      .name {
        float:left;
        width:calc(100% - 5em)
      }

      @include susy-breakpoint($screen-sm-min, $map-sm) {
        @include gallery(2 of 4)
      }

      @include susy-breakpoint($screen-md-min, $map-md) {
        @include gallery(4 of 8)
      }

      @include susy-breakpoint($screen-lg-min, $map-lg) {
        @include gallery(4 of 12)
      }   
    }
  }
  button {
    @include transition(all, .25s, ease-in-out);
    @include border-button(white, $icon-dark);
    font-size:1.25em;
    &:hover {
      background:$icon-dark;
      color:white;
    }
  }
}


.user-form-message {
  margin-bottom:1em;
}

.instructions {
  text-align:left;
  max-width:50em;
}

.save-message {
  @include animated(.5s);
  @include fadeIn;
  color:green;
  font-size:1em;
  display:block;
  padding:.5em;
  border:.125em solid green;
  clear:both;
  text-align:center;
}