@import 'reset';
@import 'typography';
@import 'compass';
@import 'breakpoint';
@import 'susy';
@import 'mixins';
@import 'animations';
@import 'config';
@import 'header';
@import 'gamefooter';

:root{
  background:$theme-secondary;
}

html{
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: relative;
  padding-left:5%;
  padding-right:5%;
  @include susy-breakpoint($screen-jb-min) {
    padding:0;
  }
}

body {
  color:white;
}

// temp styling for links 
a {
  @include link-reset;
  color:white;
}

// semantic screen reading helper
.assistive-text {
  position:absolute !important;
  overflow:hidden;
  clip:rect(1px, 1px, 1px, 1px);
  width:1px;
  height:1px;
}
.assistive-text:hover, .assistive-text:active, .assistive-text:focus {
  font-size:.875em;
  font-weight:bold;
  line-height:normal;
  z-index:100000;
  top:5px;
  left:5px;
  display:block;
  clip:auto !important;
  width:auto;
  height:auto;
  padding:15px 23px 14px;
  text-decoration:none;
  color:#21759b;
  border-radius:3px;
  background-color:#f1f1f1;
  box-shadow:0 0 2px 2px rgba(0, 0, 0, .6);
}

button {
  &:hover {
    cursor: pointer;
  }
}

.social-login {
  position: relative;
  height:100vh;
  p {
    @include center;
    a {
      display:inline-block;
      margin:1em;
      padding:1em 2em;
      background:$help;
    }
  }
}

.welcome-message {
  display:block;
  margin-top:1.5em;
}

.welcome-message {
  @include grid;
}

.app-content {
  @include grid;
}

.grid {
  @include grid;
}

.audio {
  .play-button {
    @include plain-button;
    width:7.5em;
    height:7.5em;
  }
  .play-icon {
    circle {
      stroke:$audio-play;
    }
    polygon, rect {
      fill:$audio-play;
    }
  }
  
  .audio-player {
    width:100%;
  }
}


.game-meta {
  @include plain-list;
  @include susy-breakpoint($screen-lg-min, $map-lg) {
    @include span(2 of 12 first);
  }
  dt {
    font-size: 1.15em;
  }
  dt, dd {
    margin-bottom:.5em;
    color:darken(white, 25%);
  }
  .aapb-link-icon {
    max-height:1.5em;
    max-width:1.5em;
    fill:lighten($theme-tertiary, 25%);
  }
  a {
    &:hover {
      .aapb-link-icon {
        fill:green;
      }
    }
  }
}

.game-phrase-list {
  @include plain-list;
  border-top:2px solid black;
  border-bottom:2px solid black;
  padding:1em 0;
  @include susy-breakpoint($screen-lg-min, $map-lg) {
    @include span(8 of 12);
    border:none;
  }
  li {
    top:0;
    margin-bottom:.5em;
    @include animated;
    @include fadeIn;
    @include clearfix;
    button {
      @include plain-button;
      color:lighten($theme-tertiary, 50%);
      font-family: 'Droid Sans', sans-serif;
    }
    .play-phrase {
      display: inline-block;
      padding:0;
      vertical-align: middle;
      float:left;
      .speaker-icon {
        fill:lighten($theme-tertiary, 25%);
        height: 1.75em;
        width: 1.75em;
      }
      @include susy-breakpoint($screen-lg-min, $map-lg) {
        @include span(.875 of 7 first);
        text-align:right;
      }
    }
    .text {
      text-align: left;
      float: left;
      width: calc(100% - 2.5em);
      margin-left:.75em;
      @include susy-breakpoint($screen-lg-min, $map-lg) {
        @include span(6.125 of 7 last);
        padding-left:0;
      }
    }
    .text-context {
      background:lighten($theme-tertiary, 25%);
      color:white;
      font-family: 'Droid Sans', sans-serif;
      font-weight:700;
    }
    &.active-phrase {
      .text{
        background:lighten($theme-tertiary, 25%);
        color:white;
        font-family: 'Droid Sans', sans-serif;
        font-weight:700;
      }
      .play-phrase {
        .speaker-icon {
          fill:$progress;
        }
      }
    }
    &.active-phrase + li {
      .text {
        background:lighten($theme-tertiary, 25%);
        color:white;
        font-family: 'Droid Sans', sans-serif;
        font-weight:700;
      }
    }
    &.active-phrase + li + li {
      .text {
        background:lighten($theme-tertiary, 25%);
        color:white;
        font-family: 'Droid Sans', sans-serif;
        font-weight:700;
      }
    }
    &.active-phrase + li + li + li {
      .text {
        background:lighten($theme-tertiary, 25%);
        color:white;
        font-family: 'Droid Sans', sans-serif;
        font-weight:700;
      }
    }
  }

  .phrase {
    border:none;
    padding:.5em;
    background:none;
    color:white;
    &.incorrect {
      background:red;
    }
  }
  .submit-phrase {
    display:inline-block;
    margin-left:1em;
    @include animated;
    @include transition(opacity, 300ms, ease-in);
    &.submit-phrase-enter{
      opacity:.01;
      will-change: transform, opacity, visibility;
      &.submit-phrase-enter-active {
        @include slideInRight;
        opacity:1;
      }
    }
    &.submit-phrase-leave{
      opacity:1;
      will-change: transform, opacity, visibility;
      &.submit-phrase-leave-active {
        @include slideOutRight;
        opacity: 0.01;
      }
    }   
  }
}

.loading-screen {
  position:relative;
  height:90vh;
}

.loading-animation {
  @include center();
  width:10em;
  height:10em;
}