// @import 'reset';
@import 'compass';
@import 'breakpoint';
@import 'susy';
@import 'config';


html{
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  position: relative;
}

audio {
  width:100%;
}

