@import 'reset';
@import 'typography';
@import 'compass';
@import 'breakpoint';
@import 'susy';
@import 'mixins';
@import 'animations';
@import 'config';
@import 'header';

:root{
  background:$theme-secondary;
}

html{
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: relative;
  padding-left:5%;
  padding-right:5%;
  @include susy-breakpoint($screen-jb-min) {
    padding:0;
  }
}

body {
  color:white;
}

// temp styling for links 
a {
  @include link-reset;
  color:white;
}

// semantic screen reading helper
.assistive-text {
  position:absolute !important;
  overflow:hidden;
  clip:rect(1px, 1px, 1px, 1px);
  width:1px;
  height:1px;
}
.assistive-text:hover, .assistive-text:active, .assistive-text:focus {
  font-size:.875em;
  font-weight:bold;
  line-height:normal;
  z-index:100000;
  top:5px;
  left:5px;
  display:block;
  clip:auto !important;
  width:auto;
  height:auto;
  padding:15px 23px 14px;
  text-decoration:none;
  color:#21759b;
  border-radius:3px;
  background-color:#f1f1f1;
  box-shadow:0 0 2px 2px rgba(0, 0, 0, .6);
}

button {
  &:hover {
    cursor: pointer;
  }
}
.social-login {
  position: relative;
  height:100vh;
  p {
    @include center;
    a {
      display:inline-block;
      margin:1em;
      padding:1em 2em;
      background:$help;
    }
  }
}

.welcome-message {
  display:block;
  margin-top:1.5em;
}

.welcome-message {
  @include grid;
}

.app-content {
  @include grid;
}

.grid {
  @include grid;
}

.audio {
  .play-button {
    @include plain-button;
    width:7.5em;
    height:7.5em;
  }
  .play-icon {
    circle {
      stroke:$audio-play;
    }
    polygon, rect {
      fill:$audio-play;
    }
  }
  
  .audio-player {
    width:100%;
  }
}


.game-meta {
  @include plain-list;
  @include susy-breakpoint($screen-lg-min, $map-lg) {
    @include span(2 of 12 first);
  }
  dt {
    font-size: 1.15em;
  }
  dt, dd {
    margin-bottom:.5em;
    color:darken(white, 25%);
  }
  .aapb-link-icon {
    max-height:1.5em;
    max-width:1.5em;
    fill:lighten($theme-tertiary, 25%);
  }
  a {
    &:hover {
      .aapb-link-icon {
        fill:green;
      }
    }
  }
}

.game-phrase-list {
  @include plain-list;
  border-top:2px solid black;
  border-bottom:2px solid black;
  padding:1em 0;
  @include susy-breakpoint($screen-lg-min, $map-lg) {
    @include span(8 of 12);
    border:none;
  }
  li {
    top:0;
    margin-bottom:.5em;
    @include animated;
    @include fadeIn;
    @include clearfix;
    button {
      @include plain-button;
      color:lighten($theme-tertiary, 50%);
      font-family: 'Droid Sans', sans-serif;
    }
    .play-phrase {
      display: inline-block;
      padding:0;
      vertical-align: middle;
      .speaker-icon {
        fill:lighten($theme-tertiary, 25%);
        height: 1.75em;
        width: 1.75em;
      }
      @include susy-breakpoint($screen-lg-min, $map-lg) {
        @include span(.875 of 7 first);
        text-align:right;
      }
    }
    .text {
      text-align: left;
      @include susy-breakpoint($screen-lg-min, $map-lg) {
        @include span(6.125 of 7 last);
      }
    }
    .text-context {
      background:lighten($theme-tertiary, 25%);
      color:white;
      font-family: 'Droid Sans', sans-serif;
      font-weight:700;
    }
    &.active-phrase {
      .text{
        background:lighten($theme-tertiary, 25%);
        color:white;
        font-family: 'Droid Sans', sans-serif;
        font-weight:700;
      }
      .play-phrase {
        .speaker-icon {
          fill:$progress;
        }
      }
    }
    &.active-phrase + li {
      .text {
        background:lighten($theme-tertiary, 25%);
        color:white;
        font-family: 'Droid Sans', sans-serif;
        font-weight:700;
      }
    }
    &.active-phrase + li + li {
      .text {
        background:lighten($theme-tertiary, 25%);
        color:white;
        font-family: 'Droid Sans', sans-serif;
        font-weight:700;
      }
    }
    &.active-phrase + li + li + li {
      .text {
        background:lighten($theme-tertiary, 25%);
        color:white;
        font-family: 'Droid Sans', sans-serif;
        font-weight:700;
      }
    }
  }

  .phrase {
    border:none;
    padding:.5em;
    background:none;
    color:white;
    &.incorrect {
      background:red;
    }
  }
  .submit-phrase {
    display:inline-block;
    margin-left:1em;
    @include animated;
    @include transition(opacity, 300ms, ease-in);
    &.submit-phrase-enter{
      opacity:.01;
      will-change: transform, opacity, visibility;
      &.submit-phrase-enter-active {
        @include slideInRight;
        opacity:1;
      }
    }
    &.submit-phrase-leave{
      opacity:1;
      will-change: transform, opacity, visibility;
      &.submit-phrase-leave-active {
        @include slideOutRight;
        opacity: 0.01;
      }
    }   
  }
}

.loading-screen {
  position:relative;
  height:90vh;
}

.loading-animation {
  @include center();
  width:10em;
  height:10em;
}

.game-footer {
  background:$theme-primary;

  // @include susy-breakpoint($screen-sm-min, $map-sm) {
  //   @include span(1 of 4 first);
  // }
  // @include susy-breakpoint($screen-md-min, $map-md) {
  //   @include span(3 of 8 first);
  // }
  // @include susy-breakpoint($screen-lg-min, $map-lg) {
  //   @include span(7 of 12 first);
  // }
  
  .title {
    color:$progress;
    text-transform:uppercase;
    width:50%;
    float:left;
    padding:.25em .5em;
    line-height:1.5;
    margin-bottom:0;
    span {
      display: inline-block;
      color:$theme-primary;
      position: relative;
      z-index:1;
      margin-right:.5em;
      &:before {
        z-index: -1;
        content:'';
        display: inline-block;
        @include center;
        background:$progress;
        width:1.5em;
        height:1.5em;
        border-radius:100%;
      }
    }
    @include susy-breakpoint($screen-lg-min, $map-lg) {
      @include span(3 of 12 first);
      line-height:3.5em;
    }
  }

  .controls {
    width:50%;
    float:left;
    height:5em;
    position: relative;
    .pagination {
      @include clearfix;
      button {
        float:left;
        width:3em;
        @include plain-button;
        svg {
          width:2em;
          height:2em;
          vertical-align:middle;
          circle {
            stroke:lighten($theme-tertiary, 50%);
          }
          polygon {
            fill:lighten($theme-tertiary, 50%);
          }
          &:hover {
            circle {
              stroke:$progress;
            }
            polygon {
              fill:$progress;
            }
          }
        }
      }
    }
    progress {
      width:100%;
    }
    @include susy-breakpoint($screen-lg-min, $map-lg) {
      @include span(6 of 12);
      progress {
        width:70%;
        @include center;
      }
      .pagination {
        .prev, .next {
          @include center(false, true);
        }
        .prev {
          left:0;
        }
        .next {
          right:0;
        }
        button {
          width:inherit;
          svg {
            width:4em;
            height:4em;
          }
        }
      }
    }
  }

  .help {
    @include susy-breakpoint($screen-lg-min, $map-lg) {
      float:right;
      line-height:5em;
    }
  } 
  
  // browser resets and visual styling for progress element
  progress[value] {
    -webkit-appearance: none;
            appearance: none;
  }
  progress:not[value] {
    -webkit-appearance: none;
            appearance: none;
  }
  progress:not[value]::-webkit-progress-value {
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
  progress:not[value]::-moz-progress-bar {
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
  progress[value]::-webkit-progress-value {
    background-color:$progress;
  }
  progress[value]::-moz-progress-bar {
    background-color:$progress;
  }
}